[Unit]
Description = Huawei Sun2000 data reader
After = network-online.target
Wants = network-online.target

[Service]
User = pi
Group = pi
Type = simple
ExecStart = /opt/sun2000/sun2000.sh
Restart = always
RestartSec = 10

[Install]
WantedBy = multi-user.target
